body {
  border-radius: 25px;
  border: 2px solid #DCDCDC;
  box-shadow: 0 0 10px #D4D4D4;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 120px;
  margin-left: 320px;
  padding: 20px;
  height: 100%;
  
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
  /*color: #887E7E;*/
  color: #DCDCDC;
  text-shadow: -2px -2px 10px #D4D4D4;

  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.profile_info {
}

.centered {
  position: fixed;
  top: 35%;
  left: 12%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.avatar {
  border-radius: 50px;
  height: 100px;
  width: 100px;

  display: block;
  margin: 0 auto;
}

.source_icon {
  height: 50px;
  width: 50px;
}

.name_and_title {
  text-align: center;
}