body {
  height: 100%;

  float: middle;

  text-align: left;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;

  /*display: flex;
  flex-direction: column;*/
  justify-content: space-between;

  font-size: 16px;
  font-family: 'Titillium Web', sans-serif;
  /*color: #887E7E;*/
  color: #DCDCDC;
  text-shadow: -2px -2px 10px #D4D4D4;

  background-image: url('../images/background.jpg');
  /*background-repeat: no-repeat;*/
  background-size: cover;
}

.border {
  border-radius: 25px;
  border: 2px solid #DCDCDC;
  box-shadow: 0 0 10px #D4D4D4;
}

.text {
  /*max-width: 60%;*/
  padding: 20px;
}

.centered {
  /*position: fixed;*/
  float: left;
  margin: 1%;
  /*top: 20%;
  left: 15%;
  /* bring your own prefixes */
  /*transform: translate(-50%, -50%);*/
}

.avatar {
  border-radius: 50px;
  height: 100px;
  width: 100px;

  display: block;
  margin: 0 auto;
}

.source_icon {
  height: 50px;
  width: 50px;
}

.name_and_title {
  text-align: center;
}
